<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragments :: head(Administrador)}"></head>
<body>
<nav th:replace="~{fragments :: navHeader('Administrador')}"></nav>
<div id="alerts-container"></div>


<div class="container mt-5 w-50 pt-3">
    <!-- Fragmento com opções -->
    <div th:replace="~{fragments :: permission-free}"></div>
</div>
<script src="/js/AlertWebsocket.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</body>
</html>
